<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="za.ac.cput.decappfinal">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="DEcapp"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
                <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DecappActivity" />
        <activity android:name=".SignUpActivity" />
        <activity android:name=".LawActivity" />
        <activity android:name=".RemoveActivity" />
        <activity android:name=".UpdateActivity" />
        <activity android:name=".WantedActivity" />

    </application>

</manifest>